<%- include('../template/header'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= heading %></h1>
          <h6><%- breadcrumb %></h6>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type; %> alert-dismissible fade show"
        role="alert"
      >
        <strong><%= message.message; %></strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title"><%= sub_heading %></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form action="/admin/holiday_home_edit" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="place" class="col-sm-4 col-form-label"
                    >Place</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="place"
                      name="place"
                      value="<%= holi_data ? holi_data[0].hh_place : '' %>"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="phone" class="col-sm-4 col-form-label"
                    >Phone</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="phone"
                      name="phone"
                      value="<%= holi_data ? holi_data[0].hh_phone : '' %>"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      name="email"
                      value="<%= holi_data ? holi_data[0].hh_email : '' %>"
                    />
                  </div>
                </div>
              </div>
              
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="contact_person" class="col-sm-4 col-form-label"
                      >Contact Person</label
                    >
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        id="contact_person"
                        name="contact_person"
                        value="<%= holi_data ? holi_data[0].hh_contact_person : '' %>"
                      />
                    </div>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="form-group row">
                    <label for="charge" class="col-sm-4 col-form-label"
                      >Charges</label
                    >
                    <div class="col-sm-8">
                      <input
                        type="text"
                        class="form-control"
                        id="charge"
                        name="charge"
                        value="<%= holi_data ? holi_data[0].hh_charge : '' %>"
                      />
                    </div>
                  </div>
                </div>
                
              </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="address" class="col-sm-2 col-form-label"
                    >Address</label
                  >
                  <div class="col-sm-10">
                    <textarea
                      name="address"
                      id="address"
                      class="form-control"
                      aria-label="With textarea"
                    >
<%= holi_data ? holi_data[0].hh_address : '' %></textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <input
              type="hidden"
              name="sl_no"
              value="<%= holi_data ? holi_data[0].sl_no : 0 %>"
            />
            <center>
              <button
                type="submit"
                class="btn btn-outline-success mt-4"
                id="submit"
              >
                Save
              </button>
            </center>
          </form>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../template/footer'); %>
