<%- include('../template/header'); %>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= heading %></h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type; %> alert-dismissible fade show"
        role="alert"
      >
        <strong><%= message.message; %></strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title"><%= sub_heading %></h3>
          <div class="card-tools">
            <a href="/admin/holiday_home_edit?id=0" class="btn btn-primary"
              >Add New</a
            >
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form action="/tnx_srch" method="post">
            <div class="row" id="divToPrint">
              <div class="col-md-12">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <!-- <th></th> -->
                      <th>#</th>
                      <th>Place</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Contact Person</th>
                      <th>Charges</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(req_dt.suc > 0){ var i = 1; req_dt.msg.forEach((dt) =>
                      { %>
                      <tr>
                        <td><%= i %></td>
                        <td><%= dt.hh_place %></td>
                        <td><%= dt.hh_address %></td>
                        <td><%= dt.hh_phone %></td>
                        <td><%= dt.hh_email %></td>
                        <td><%= dt.hh_contact_person %></td>
                        <td><%= dt.hh_charge %></td>
                        <td>
                          <a
                            href="holiday_home_edit?id=<%= dt.sl_no %>"
                            class="btn btn-primary"
                          >
                            Edit
                          </a>
                        </td>
                      </tr>
                      <% i++; }) }else{ %>
                      <tr>
                        <td colspan="8" class="text-center">No data found</td>
                      </tr>
                      <% } %>
                    </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('../template/footer'); %>

<script>
  $(function () {
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>

