<%- include('../template/header'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><b><%= heading %></b></h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type; %> alert-dismissible fade show"
        role="alert"
      >
        <strong> <%= message.message; %> </strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <form action="/admin/notification" method="post">
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label for="user_id" class="col-form-label"
                        >To User</label
                      >
                      <select
                        name="user_id"
                        id="user_id"
                        class="form-control select2"
                        required
                      >
                        <option>Default select</option>
                        <option value="all">All</option>
                        <!-- <% if(emp_list){ emp_list.forEach((dt) => { %>
                        <option value="<%= dt.emp_code %>">
                          <%= dt.user_name %> <small>(<%= dt.emp_code %>)</small>
                        </option>
                        <% }) } %> -->
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group mt-4">              
                      <button type="button" id="upFileBtn" class="btn btn-success float-right">Upload a file</button>
                    </div>
                  </div>
                </div>
                <div class="row" id="uploadSection" style="display: none;">
					<div class="col-md-12">
						<p class="text-danger text-sm">Only PDF,PNG,JPG,JPEG file type allowed. Max size 2MB.</p>
					</div>
                  <div class="col-md-12">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <button type="button" id="uploadFile" class="btn btn-success"><i class="fa fa-upload"></i> <span class="ml-2">Upload</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 my-4 px-5" id="progDiv" style="display: none;">
                    <div class="progress">
                      <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="narration">Narration</label>
                      <textarea
                        class="form-control"
                        id="narration"
                        name="narration"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
				  <div class="col-12" id="urlContent" style="display:none;">
                    <div class="form-group">
                      <label for="url">URL</label>
                      <input type="text"
                        class="form-control"
                        id="url"
                        name="url" readonly
                      />
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-12">
                    <button type="submit" class="btn btn-danger">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../template/footer'); %>

<script>
  $("#emp_id").on("change", function () {
    var emp_name = $("#emp_id :selected").text();
    $("#emp_name").val(emp_name);
  });
</script>

<script>
  $('#upFileBtn').on('click', function(){
    $('#uploadSection').show()
	$('#customFile').attr('accept', "application/pdf, image/*")
    $('#upFileBtn').hide()
  })
  
  $('#customFile').on('change', function(){
	var fileInput = document.getElementById('customFile');
    var file = fileInput.files[0],
	fileName = file.name;
	$('label[for="customFile"]').text(fileName)
	var allowFileType = ['application/pdf', 'image/png', 'image/jpeg', 'image/gif']
	if(!allowFileType.includes(file.type)){
		fileInput.files[0] = null
		$('#customFile').val('')
		$('label[for="customFile"]').text('Choose file')
		alert('Only file type JPEG,PNG,PDF allowed.')
	}
  })

  $('#uploadFile').on('click', function(){
    var fileInput = document.getElementById('customFile');
    var file = fileInput.files[0];
    if (file) {
		
        var formData = new FormData();
        formData.append('file', file);

        var xhr = new XMLHttpRequest();

        xhr.upload.addEventListener('progress', function (event) {
            if (event.lengthComputable) {
                var percent = Math.round((event.loaded / event.total) * 100);
                $('#progDiv').show()
                var progressBar = document.getElementById('progressBar');
                progressBar.style.width = percent + '%';
                progressBar.innerHTML = percent + '%';
            }
        });

        xhr.addEventListener('load', function (event) {
            var uploadStatus = document.getElementById('uploadStatus');
            // uploadStatus.innerHTML = event.target.responseText;
            // console.log(typeof(event.target.responseText))
            var response = JSON.parse(event.target.responseText)
            $('#progDiv').hide()
            if(response.suc > 0){
              $('#narration').val(response.msg)
			  $('#urlContent').show()
			  $('#url').val(response.msg)
              $('#uploadSection').hide()
              $('#upFileBtn').show()
            }else{
			$('#url').val('')
              alert(response.msg)
            }
        });

        xhr.open('POST', '/admin/noti_file_upload', true);
        xhr.send(formData);
    }
  })
</script>