<%- include('../template/header'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><b><%= heading %></b></h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <% if(message){ %>
      <div
        class="alert alert-<%= message.type; %> alert-dismissible fade show"
        role="alert"
      >
        <strong> <%= message.message; %> </strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <form action="/admin/upload_networth_csv" enctype="multipart/form-data" method="post">
                <div class="row">
                            <div class="form-group col-md-4">
                              <label for="months">Months</label>
                              <select
                                name="months"
                                id="months"
                                class="form-control select2"
                                required
                              >
                                <option>Select</option>
                                <% months.forEach((dt) => { %>
                                    <option value="<%= dt.id %>">
                                      <%= dt.name %>
                                    </option>
                                    <% }) %>
                              </select>
                            </div> 

                            <div class="form-group col-md-4">
                                <label for="years">Years</label>
                                <select
                                  name="years"
                                  id="years"
                                  class="form-control select2"
                                  required
                                >
                                  <option>Select</option>
                                  <% years.forEach((dt) => { %>
                                    <option value="<%= dt.id %>">
                                      <%= dt.name %>
                                    </option>
                                    <% }) %>
                                </select>
                              </div> 
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="import_csv">Upload CSV</label><br>
                        <input type="file" name="import_csv" id="import_csv" accept=".CSV">
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-12">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<!-- /.content-wrapper -->
<%- include('../template/footer'); %>

